## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

WARNING:tensorflow:From c:\Users\Hansle Goh\anaconda3\envs\dev\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_value_counts = application_df['APPLICATION_TYPE'].value_counts()
app_value_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = [app for app in app_value_counts.index if app_value_counts[app] < 10]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
cls_value_counts = application_df['CLASSIFICATION'].value_counts()
cls_value_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
cls_value_counts.loc[cls_value_counts.values > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = [cls for cls in cls_value_counts.index if cls_value_counts[cls] < 5]

# Replace in dataframe
for cls in classifications_to_replace:
        application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Other       45
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1235        9
C1237        9
C7210        7
C4100        6
C1720        6
C2400        6
C1257        5
C1600        5
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_cols = application_df.columns.drop(labels=['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL'])
for col in categorical_cols:
    application_df = pd.concat([application_df, pd.get_dummies(application_df[col])], axis=1)
    application_df.drop(columns=col, inplace=True)

application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,Other,T10,T12,T13,T19,T2,T3,...,1-9999,10000-24999,100000-499999,10M-50M,1M-5M,25000-99999,50M+,5M-10M,N,Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,True,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,True,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,True,...,False,False,True,False,False,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=24)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define a function that creates a neural network model with hyperparameter options
def create_model(hp):
    nn = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden and output layers
    activation = hp.Choice('activation',['relu', 'leaky_relu', 'gelu'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=500,
        step=5), 
        activation=activation, 
        input_dim=len(X_train.columns)))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 10)):
        nn.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=500,
            step=5),
            activation=activation))
    
    nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

    # Compile the model
    nn.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn

In [13]:
# Import the kerastuner and os libraries
import keras_tuner as kt
import os

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2,
    directory=os.path.normpath('C:/'),
    project_name='keras_tuner',
    overwrite=True)

WARNING:tensorflow:From c:\Users\Hansle Goh\anaconda3\envs\dev\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From c:\Users\Hansle Goh\anaconda3\envs\dev\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [14]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 60 Complete [00h 00m 51s]
val_accuracy: 0.72967928647995

Best val_accuracy So Far: 0.7362099289894104
Total elapsed time: 00h 21m 29s

In [15]:
# Get top 10 model hyperparameters and print the values
from pprint import pprint
top_hps = tuner.get_best_hyperparameters(10)
for param in top_hps:
    pprint(param.values)
    print('-'*40)

{'activation': 'leaky_relu',
 'first_units': 196,
 'num_layers': 3,
 'tuner/bracket': 2,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/round': 2,
 'tuner/trial_id': '0044',
 'units_0': 196,
 'units_1': 276,
 'units_2': 171,
 'units_3': 391,
 'units_4': 321,
 'units_5': 321,
 'units_6': 71,
 'units_7': 201,
 'units_8': 211,
 'units_9': 76}
----------------------------------------
{'activation': 'leaky_relu',
 'first_units': 346,
 'num_layers': 2,
 'tuner/bracket': 1,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/round': 1,
 'tuner/trial_id': '0019',
 'units_0': 101,
 'units_1': 291,
 'units_2': 396,
 'units_3': 381,
 'units_4': 236,
 'units_5': 181,
 'units_6': 21,
 'units_7': 16,
 'units_8': 201,
 'units_9': 221}
----------------------------------------
{'activation': 'relu',
 'first_units': 401,
 'num_layers': 1,
 'tuner/bracket': 0,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 0,
 'tuner/round': 0,
 'units_0': 71,
 'units_1': 271,
 'units_2': 486,
 'units_3': 356,
 'units_4': 51,
 'units_5': 111,
 'units_6': 366,
 'units_7': 11,
 'units_8': 161,
 'units_9': 276}
----------------------------------------
{'activation': 'leaky_relu',
 'first_units': 346,
 'num_layers': 6,
 'tuner/bracket': 0,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 0,
 'tuner/round': 0,
 'units_0': 41,
 'units_1': 386,
 'units_2': 456,
 'units_3': 176,
 'units_4': 471,
 'units_5': 416,
 'units_6': 201,
 'units_7': 186,
 'units_8': 141,
 'units_9': 131}
----------------------------------------
{'activation': 'gelu',
 'first_units': 491,
 'num_layers': 5,
 'tuner/bracket': 0,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 0,
 'tuner/round': 0,
 'units_0': 146,
 'units_1': 366,
 'units_2': 216,
 'units_3': 191,
 'units_4': 471,
 'units_5': 46,
 'units_6': 241,
 'units_7': 6,
 'units_8': 1,
 'units_9': 151}
----------------------------------------
{'activation': 'relu',
 'first_units': 6,
 'num_layers': 1,
 'tuner/bracket': 2,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/round': 2,
 'tuner/trial_id': '0014',
 'units_0': 416,
 'units_1': 56,
 'units_2': 191,
 'units_3': 396,
 'units_4': 11,
 'units_5': 331,
 'units_6': 421,
 'units_7': 286,
 'units_8': 431,
 'units_9': 36}
----------------------------------------
{'activation': 'leaky_relu',
 'first_units': 101,
 'num_layers': 1,
 'tuner/bracket': 1,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/round': 1,
 'tuner/trial_id': '0023',
 'units_0': 231,
 'units_1': 91,
 'units_2': 341,
 'units_3': 176,
 'units_4': 101,
 'units_5': 116,
 'units_6': 411,
 'units_7': 411,
 'units_8': 336,
 'units_9': 201}
----------------------------------------
{'activation': 'relu',
 'first_units': 321,
 'num_layers': 3,
 'tuner/bracket': 2,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/round': 2,
 'tuner/trial_id': '0045',
 'units_0': 326,
 'units_1': 191,
 'units_2': 191,
 'units_3': 226,
 'units_4': 201,
 'units_5': 56,
 'units_6': 126,
 'units_7': 41,
 'units_8': 481,
 'units_9': 276}
----------------------------------------
{'activation': 'leaky_relu',
 'first_units': 261,
 'num_layers': 3,
 'tuner/bracket': 0,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 0,
 'tuner/round': 0,
 'units_0': 231,
 'units_1': 386,
 'units_2': 261,
 'units_3': 106,
 'units_4': 266,
 'units_5': 186,
 'units_6': 426,
 'units_7': 351,
 'units_8': 171,
 'units_9': 196}
----------------------------------------
{'activation': 'leaky_relu',
 'first_units': 196,
 'num_layers': 3,
 'tuner/bracket': 2,
 'tuner/epochs': 7,
 'tuner/initial_epoch': 3,
 'tuner/round': 1,
 'tuner/trial_id': '0034',
 'units_0': 196,
 'units_1': 276,
 'units_2': 171,
 'units_3': 391,
 'units_4': 321,
 'units_5': 321,
 'units_6': 71,
 'units_7': 201,
 'units_8': 211,
 'units_9': 76}
----------------------------------------

In [16]:
# Evaluate the top 3 models against the test dataset
top_models = tuner.get_best_models(3)
for model in top_models:
    model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")
    print('-'*80)

268/268 - 0s - loss: 0.5537 - accuracy: 0.7362 - 478ms/epoch - 2ms/step
Loss: 0.5537390112876892, Accuracy: 0.7362099289894104
--------------------------------------------------------------------------------
268/268 - 0s - loss: 0.5526 - accuracy: 0.7349 - 448ms/epoch - 2ms/step
Loss: 0.552625298500061, Accuracy: 0.7349271178245544
--------------------------------------------------------------------------------
268/268 - 0s - loss: 0.5504 - accuracy: 0.7347 - 421ms/epoch - 2ms/step
Loss: 0.550373911857605, Accuracy: 0.7346938848495483
--------------------------------------------------------------------------------

In [17]:
best_model = tuner.get_best_models()[0]
best_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 196)               15680

 dense_1 (Dense)             (None, 196)               38612

 dense_2 (Dense)             (None, 276)               54372

 dense_3 (Dense)             (None, 171)               47367

 dense_4 (Dense)             (None, 1)                 172

=================================================================
Total params: 156203 (610.17 KB)
Trainable params: 156203 (610.17 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
# Export our model to HDF5 file
best_model.save('AlphabetSoupCharity_Optimization.h5')

c:\Users\Hansle Goh\anaconda3\envs\dev\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(